@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

header{
font-family: 'Raleway', sans-serif;
}

#root,html ,body{
  min-height: 100%;
  min-width: 100%;
  background-color: hsl(218, 28%, 13%)
}

.position-curve{
  bottom: -40px;
  left: 50px;
}

.shadow-box{
  box-shadow: 10px 4px 10px -7px black;
}

@layer components{
.heading{
  @apply text-xl font-bold mb-2
}
.grid-container div{
  @apply w-[370px] max-[1100px]:w-[300px]  mx-auto

}
.footer span{
@apply opacity-75  

}
.footer p{
@apply opacity-75  
}
.footer li{
  @apply opacity-75
}
.features-mobile-container{
  @apply grid-cols-1 mx-auto
}
.position-mobile{
  @apply top-[-252px]
}
.position-desktop{
  @apply top-[-34px] left-[-385px]
}

}

